SECRET_KEY=change-me-to-random-string
DEBUG=1
ALLOWED_HOSTS=*
CSRF_TRUSTED_ORIGINS=http://localhost

DB_NAME=moods
DB_USER=moods
DB_PASSWORD=moods
DB_HOST=db
DB_PORT=5432

ADMIN_PASSWORD=admin

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=admin
REDIS_DB=0