SECRET_KEY=change-me-to-random-string
DEBUG=1
ALLOWED_HOSTS=*
CSRF_TRUSTED_ORIGINS=http://localhost
LOG_LEVEL=INFO
ENCRYPTION_ENABLED=1

GUNICORN_WORKERS=4
GUNICORN_THREADS=2
GUNICORN_TIMEOUT=120

DB_NAME=moods
DB_USER=moods
DB_PASSWORD=moods
DB_HOST=db
DB_PORT=5432

ADMIN_PASSWORD=admin

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=admin
REDIS_DB=0
